{% include "core/html/data.html" %} 
{% block content %}
<div class="d-flex">
    <nav class="sidebar flex-column flex-shrink-0 p-3 bg-dark">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Esem</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#hero" class="nav-link active">
                    Inicio
                </a>
            </li>
           
         
          
           
        </ul>
    </nav>
{% endblock %}