
.carousel-item {
    height: 100vh; /* Ocupa todo el alto de la ventana */
  }
  .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
  }
  .project-description {
    margin-top: 20px;
  }
.containerSubtitle{
    text-align: center; 
    font-size: x-large;
}
.grid{
    display: grid;
      grid-template-areas: 
        "sliderContainer topContainer topContainer"
        "sliderContainer mainContent mainContent"
        "sliderContainer mainContent mainContent";
      grid-template-columns: 1fr 2fr; /* Define 2 columnas, la primera es más pequeña */
      grid-template-rows: auto; /* Las filas se ajustarán automáticamente */
      gap: 10px; /* Espacio entre los elementos */
}

.topContainer {
    grid-area: topContainer;
  }

.mainContent {
    grid-area: mainContent;
  }

.sliderContainer {
    grid-area: sliderContainer; 
   
  }  

body {
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(
        45deg,
        hsl(208deg 49% 36%) 0%,
        hsl(211deg 38% 41%) 11%,
        hsl(214deg 30% 47%) 22%,
        hsl(216deg 27% 52%) 33%,
        hsl(218deg 27% 57%) 44%,
        hsl(221deg 28% 62%) 56%,
        hsl(223deg 29% 67%) 67%,
        hsl(226deg 30% 72%) 78%,
        hsl(228deg 33% 77%) 89%,
        hsl(231deg 36% 82%) 100%
      );
}
.btn-info{
    background:linear-gradient(
        45deg,
        hsl(208deg 49% 36%) 0%,
        hsl(211deg 38% 41%) 11%,
        hsl(214deg 30% 47%) 22%,
        hsl(216deg 27% 52%) 33%,
        hsl(218deg 27% 57%) 44%,
        hsl(221deg 28% 62%) 56%,
        hsl(223deg 29% 67%) 67%,
        hsl(226deg 30% 72%) 78%,
        hsl(228deg 33% 77%) 89%,
        hsl(231deg 36% 82%) 100%
      );
}
.border{
    background:linear-gradient(
        45deg,
        hsl(208deg 49% 36%) 0%,
        hsl(211deg 38% 41%) 11%,
        hsl(214deg 30% 47%) 22%,
        hsl(216deg 27% 52%) 33%,
        hsl(218deg 27% 57%) 44%,
        hsl(221deg 28% 62%) 56%,
        hsl(223deg 29% 67%) 67%,
        hsl(226deg 30% 72%) 78%,
        hsl(228deg 33% 77%) 89%,
        hsl(231deg 36% 82%) 100%
      );
}

/* Estilos personalizados para el sidebar */
.container-fluid {
    background: linear-gradient(to bottom, #343a40, #495057, #6c757d, #adb5bd); /* Degradado de oscuro a claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    padding: 5px;
    border-radius: 7px
}

.title {
    background: linear-gradient(to bottom, #343a40, #495057, #6c757d, #adb5bd);
    color: #FFF;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 6px 0; /* Agrega un poco de padding para darle espacio vertical */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    border-radius: 4px
}


.sidebar {
    height: 100vh;
    background-color: #343a40;
    padding-top: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
    width: 250px; /* Ancho fijo del sidebar */
    position: fixed; /* Fija el sidebar */
    left: 0; /* Asegura que esté en la esquina izquierda */
    top: 0; /* Desde el inicio de la pantalla */
    z-index: 1000; /* Asegura que esté encima del contenido */
}

.sidebar .nav-link {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 20px; /* Mejor padding para el contenido */
    display: block; /* Asegura que el link ocupe toda la fila */
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

.sidebar .active {
    background-color: #495057;
    border-radius: 5px;
}

/* Contenido principal */
.main-content {
    margin-left: 250px; /* Igual que el ancho del sidebar */
    padding: 20px;
    transition: all 0.3s ease;
}

.footer {
    background-color: #495057;
    padding: 2rem 0;
}
.footer .social-icons a {
    margin-right: 1rem;
    color: #6c757d;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: #343a40;
}
.card {
    cursor: grab;
    margin-bottom: 15px;
    
  }
  .dragging {
    opacity: 0.5;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .card-container .card {
    width: 18rem;
  }
/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar ocupa todo el ancho */
        height: auto;
        position: relative; /* Se vuelve estático en pantallas pequeñas */
    }

    .sidebar .nav-link {
        text-align: center; /* Alineación centrada en pantallas pequeñas */
    }

    .main-content {
        margin-left: 0; /* Quita el margen del contenido */
        padding-top: 10px; /* Añade un margen superior */
        text-align: center; /* Centra el contenido */
    }

    .sidebar-toggle {
        display: block; /* Muestra el botón de toggle */
        margin-bottom: 20px;
        cursor: pointer;
    }

    .title {
        text-align: center; /* Centra el título horizontalmente */
        margin-top: 20px; /* Añade un margen superior */
        margin-bottom: 20px; /* Añade un margen inferior */
        font-size: 24px; /* Tamaño de fuente ajustado para pantallas pequeñas */
    }
}

