{% extends "core/html/data.html" %} 
{% block content %}
<div class="login-container d-flex justify-content-center align-items-center vh-100 contenedorPrincipal">
    <div class=" p-5 shadow">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Recuérdame</label>
                </div>
                <a href="#" class="link-primary">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn border btn-info w-100">Iniciar Sesión</button>
        </form>
        <div class="text-center mt-3">
            <span>¿No tienes cuenta? <a href="#" class="link-primary">Regístrate</a></span>
        </div>
    </div>
</div>
{% endblock %}